/* header.css */

#header-main-profile {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  background: rgb(0, 245, 151);
  box-shadow: 1px 3px 11px #0000001f;
}

#header-main-profile .profile-image {
  background-color: white;
  height: 256px;
  width: 256px;
  border-radius: 100%;
  -webkit-filter: drop-shadow(2px 3px 8px rgba(0,0,0,0.35));
}

#header-main-profile h2 {
  color: white;
  letter-spacing: -0.02em;
  -webkit-filter: drop-shadow(2px 3px 8px rgba(0,0,0,0.35));
}
